/* layout.css */

/* body styles*/
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}
body.theme-transition {
    transition: none;
}

/* Header styles*/
header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

/* nav styles*/ 
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* button styles */
button {
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

/* section styles*/
section {
    flex: 0;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: left;
}

/* footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav li {
        margin-bottom: 10px;
    }
}
