/* body styles*/
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

/* Header styles*/
header {
    position: fixed;
    width: 100%;
    text-align: center;
    max-width: 800px;
    z-index: 1000;
}

/* nav styles*/ 
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

nav li {
    margin-right: 10px;
}

nav a,
.color-picker-label{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

nav a:hover,
.color-picker-label:hover {
    background-color: rgba(126, 126, 126, 0.436);
    transition: 0.3s;
}

/* section styles*/
section {
    flex: 0;
    padding: 80px 20px; /* Increase the top padding to make room for the fixed header */
    box-sizing: border-box;
    text-align: left;
}

/* footer styles */
footer {
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav li {
        margin-bottom: 10px;
    }

    section {
        padding-top: 120px; /* Adjust the top padding for smaller screens */
    }
}
